html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-default;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}

button {
    font-family: $font-default;
    background-color: transparent;
}

picture {
    display: block;
}

.header {
    flex: 0 0 auto;
}

main {
    width: 100%;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

textarea {
    font-family: $font-default;
    font-weight: 300;
}
