$screen-min-576: "screen and (min-width: 576px)";
$screen-min-768: "screen and (min-width: 768px)";
$screen-min-992: "screen and (min-width: 992px)";
$screen-min-1200: "screen and (min-width: 1200px)";
$screen-min-1560: "screen and (min-width: 1560px)";

$font-default: 'Ubuntu', sans-serif;

$z-indexes: (
    'default': 1,
);

@function z($layer) {
    @return map-get($z-indexes, $layer);
}
